.navbar {
    background-color: #AD5954;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #FFC895;
}

.sub-menu {
    display: none;
}


.nav-link:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #FFC895;
    margin-top: 15px;
    margin-left: -15px;
}

.nav-link:hover .sub-menu ul {
    display: block;
    margin: 10px;
}



.brand {
    color: white;
    font-weight: 600;
}