<div class="title">
    <p id="title">New Ticket</p>
</div>
<form [formGroup]="ticketForm" (ngSubmit)="createTick()">
    <div>
        <p>Subject</p>
        <input formControlName="subject" id="input" className="input" placeholder="Subject" type="text" />
    </div>
    <div>
        <p>Description</p>
        <input formControlName="description" id="input" className="input" placeholder="Description" type="text" />
    </div>

    <!-- <button id="cancelbtn">Cancel</button> -->
    <button id="createbtn" type="submit">Create</button>
</form>