<body>
    <div>
        <p id="title">Reset Password</p>
    </div>
    <div id="email">
        <div id="sub-email"><p>New Password</p></div>
    </div>
    <div id="email">
        <input
        id="input"
        className="input"
        placeholder="Enter your new password"
        type="text"
        onChange={onChange}
        name="email"
    /><br />
    </div>
    <div id="email">
        <div id="sub-email"><p>Confirm Password</p></div>
    </div>
    <div id="email">
        <input
        id="input"
        className="input"
        placeholder="Confirm Password"
        type="text"
        onChange={onChange}
        name="email"
    /><br />
    <div id="email">
        <div id="sub-email"> <button
            id="btn"
            className="btn"
            onClick={handleUserLogin}
            data-testid="send-user-login"
        >
          Reset
        </button></div>
    </div>
    </div>
</body>