<div class="title">
    <p id="title">USER ID</p>
</div>



<div>
    <p>Username</p>
    <input
              id="input"
              className="input"
              placeholder=""
              type="text"
              onChange={onChange}
              name="email"
          />
    
</div>
<div >
    <p>Password</p>
    <input
              id="input"
              className="input"
              placeholder=""
              type="text"
              onChange={onChange}
              name="email"
          />
    
</div>
<div >
    <p>First Name</p>
    <input
              id="input"
              className="input"
              placeholder=""
              type="text"
              onChange={onChange}
              name="email"
          />
    
</div>
<div >
    <p>Last Name</p>
    <input
              id="input"
              className="input"
              placeholder=""
              type="text"
              onChange={onChange}
              name="email"
          />
    
</div>
<div >
    <p>Role</p>
    <select id="select"  >
        <option value="">Select Role</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
    </select>
</div>

<button id="cancelbtn">Cancel</button>
<button id="savebtn">Save</button>
